# Testing and Working

## Converting files

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/2023q1/num.txt',sep='\t', header=None)
df.to_csv('./data/2023q1/num.csv', header=None)

df = pd.read_csv('./data/2023q1/pre.txt',sep='\t', header=None)
df.to_csv('./data/2023q1/pre.csv', header=None)

df = pd.read_csv('./data/2023q1/sub.txt',sep='\t', header=None)
df.to_csv('./data/2023q1/sub.csv', header=None)

df = pd.read_csv('./data/2023q1/tag.txt',sep='\t', header=None)
df.to_csv('./data/2023q1/tag.csv', header=None)

C:\Users\srive\AppData\Local\Temp\ipykernel_8672\3396553412.py:1: DtypeWarning: Columns (4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/2023q1/num.txt',sep='\t', header=None)
C:\Users\srive\AppData\Local\Temp\ipykernel_8672\3396553412.py:4: DtypeWarning: Columns (1,2,4,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/2023q1/pre.txt',sep='\t', header=None)
C:\Users\srive\AppData\Local\Temp\ipykernel_8672\3396553412.py:7: DtypeWarning: Columns (1,3,19,21,23,24,26,27,29,31,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/2023q1/sub.txt',sep='\t', header=None)
C:\Users\srive\AppData\Local\Temp\ipykernel_8672\3396553412.py:10: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/2023q1/tag.txt',sep='\t', header=None)

## Work 2

In [3]:
import pandas as pd
import os

In [4]:

 
# assign path
path, dirs, files = next(os.walk("./data/2023q1/"))
file_count = len(files)
# create empty list
dataframes_list = []
 
# append datasets to the list
for i in range(file_count):
    if "csv" in files[i]:
        temp_df = pd.read_csv('data/2023q1/'+files[i],on_bad_lines='skip')
        dataframes_list.append(temp_df)

In [5]:
df_num = dataframes_list[0]
df_pre = dataframes_list[1]
df_sub = dataframes_list[2]
df_tag = dataframes_list[3]

In [6]:
df = df_num

In [7]:
df['uom']

df.value_counts('uom')

uom
USD                     2815496
shares                   177161
pure                     142615
CAD                       35694
EUR                       34578
                         ...
goal                          1
geographic_area               1
geographicRegion              1
genericPrescriptionP          1
line_of_credit                1
Length: 2177, dtype: int64

In [12]:
df.columns

Index(['0', 'adsh', 'tag', 'version', 'coreg', 'ddate', 'qtrs', 'uom', 'value',
       'footnote'],
      dtype='object')

In [13]:
df.head

<bound method NDFrame.head of                0                  adsh  \
0              1  0001193125-23-031180
1              2  0001193125-23-031180
2              3  0001193125-23-031180
3              4  0001193125-23-031180
4              5  0001193125-23-031180
...          ...                   ...
3293688  3293689  0001493152-23-010334
3293689  3293690  0001493152-23-010334
3293690  3293691  0001493152-23-010334
3293691  3293692  0001493152-23-010334
3293692  3293693  0001493152-23-010334

                                                       tag  \
0        AccountsAndFinancingReceivableAllowanceForCred...
1        AccountsAndFinancingReceivableAllowanceForCred...
2        AccountsAndFinancingReceivableAllowanceForCred...
3        AccountsAndFinancingReceivableAllowanceForCred...
4        AccountsAndFinancingReceivableAllowanceForCred...
...                                                    ...
3293688                  TerminationOfRightOfUseLeaseAsset
3293689                  TerminationOfRightOfUseLeaseAsset
3293690              TerminationOfRightOfUseLeaseLiability
3293691              TerminationOfRightOfUseLeaseLiability
3293692                                 WarrantsPercentage

                      version                      coreg     ddate  qtrs  \
0                us-gaap/2021                        NaN  20210331     0
1                us-gaap/2021                        NaN  20210930     0
2                us-gaap/2021                        NaN  20211231     0
3                us-gaap/2021                        NaN  20220331     0
4                us-gaap/2021                        NaN  20220930     0
...                       ...                        ...       ...   ...
3293688  0001493152-23-010334                        NaN  20221231     4
3293689  0001493152-23-010334                        NaN  20211231     4
3293690  0001493152-23-010334                        NaN  20221231     4
3293691  0001493152-23-010334                        NaN  20211231     4
3293692  0001493152-23-010334  AlsetInternationalLimited  20221231     4

          uom         value footnote
0         JPY  1.200000e+08      NaN
1         JPY  1.210000e+08      NaN
2         JPY  1.240000e+08      NaN
3         JPY  1.530000e+08      NaN
4         JPY  1.720000e+08      NaN
...       ...           ...      ...
3293688   USD           NaN      NaN
3293689   USD -7.440000e+05      NaN
3293690   USD           NaN      NaN
3293691   USD  7.440000e+05      NaN
3293692  pure  4.000000e-02      NaN

[3293693 rows x 10 columns]>

In [16]:
df_num.head
df_pre.head

<bound method NDFrame.head of                0                  adsh  report  line stmt  inpth rfile  \
0              1  0001023459-23-000011       2    10   BS      0     H
1              2  0001037038-23-000009       2    11   BS      0     H
2              3  0001104659-23-020700       2     5   BS      0     H
3              4  0001002910-23-000053       9     9   UN      0     H
4              5  0001002910-23-000053       7     9   UN      0     H
...          ...                   ...     ...   ...  ...    ...   ...
1323122  1323123  0001493152-23-010294       5    29   EQ      0     H
1323123  1323124  0001493152-23-010294       5    28   EQ      0     H
1323124  1323125  0001493152-23-010294       5    18   EQ      0     H
1323125  1323126  0001493152-23-010294       5    14   EQ      0     H
1323126  1323127  0001493152-23-010294       5    15   EQ      0     H

                                                   tag               version  \
0                         AccountsReceivableNetCurrent          us-gaap/2021
1                         AccountsReceivableNetCurrent          us-gaap/2021
2                         AccountsReceivableNetCurrent          us-gaap/2021
3                         AccountsReceivableNetCurrent          us-gaap/2021
4                         AccountsReceivableNetCurrent          us-gaap/2021
...                                                ...                   ...
1323122   StockIssuedDuringPeriodSharesWarrantExercise  0001493152-23-010294
1323123    StockIssuedDuringPeriodValueWarrantExercise  0001493152-23-010294
1323124  StockIssuedForServicesAndSubscriptionsPayable  0001493152-23-010294
1323125                            StockSplitProvision  0001493152-23-010294
1323126                      StockSplitProvisionShares  0001493152-23-010294

                                                    plabel  negating
0        Accounts receivable, net of allowance for doub...         0
1        Accounts receivable, net of allowances of $184...         0
2                                 Accounts receivable, net         0
3        Accounts receivable - trade (less allowance fo...         0
4        Accounts receivable - trade (less allowance fo...         0
...                                                    ...       ...
1323122                           Warrant exercise, shares         0
1323123                         Warrant exercise (note 23)         0
1323124    Issuance for services and subscriptions payable         0
1323125                              Stock split provision         0
1323126                      Stock split provision, shares         0

[1323127 rows x 11 columns]>

In [17]:
df_sub.head

<bound method NDFrame.head of            0                  adsh      cik  \
0          1  0000004457-23-000026     4457
1          2  0000005272-23-000014     5272
2          3  0000062709-23-000021    62709
3          4  0000063908-23-000017    63908
4          5  0000065984-23-000027    65984
...      ...                   ...      ...
25937  25938  0001802457-23-000004  1802457
25938  25939  0001807707-23-000004  1807707
25939  25940  0001830210-23-000004  1830210
25940  25941  0001861449-23-000002  1861449
25941  25942  0001874178-23-000004  1874178

                                     name     sic countryba stprba  \
0                  U-HAUL HOLDING CO /NV/  7510.0        US     NV
1      AMERICAN INTERNATIONAL GROUP, INC.  6331.0        US     NY
2        MARSH & MCLENNAN COMPANIES, INC.  6411.0        US     NY
3                          MCDONALDS CORP  5812.0        US     IL
4                       ENTERGY CORP /DE/  4911.0        US     LA
...                                   ...     ...       ...    ...
25937              ORIGIN MATERIALS, INC.  2860.0        US     CA
25938                    APPHARVEST, INC.   100.0        US     KY
25939                   BENSON HILL, INC.  2000.0        US     MO
25940                   BIRD GLOBAL, INC.  3751.0        US     FL
25941        RIVIAN AUTOMOTIVE, INC. / DE  3711.0        US     CA

                cityba       zipba                         bas1  ...  \
0                 RENO       89511    5555 KIETZKE LANE STE 100  ...
1             NEW YORK  10020-1304     1271 AVE OF THE AMERICAS  ...
2             NEW YORK       10036  1166 AVENUE OF THE AMERICAS  ...
3              CHICAGO       60607   110 NORTH CARPENTER STREET  ...
4          NEW ORLEANS       70113               639 LOYOLA AVE  ...
...                ...         ...                          ...  ...
25937  WEST SACRAMENTO       95605        930 RIVERSIDE PARKWAY  ...
25938         MOREHEAD       40351          500 APPALACHIAN WAY  ...
25939        ST. LOUIS       63132           1001 N. WARSON RD.  ...
25940            MIAMI       33179  392 NE 191ST STREET # 20388  ...
25941           IRVINE       92618            14600 MYFORD ROAD  ...

           period  fy   fp     filed               accepted prevrpt detail  \
0      20230331.0 NaN  NaN  20230329  2023-03-29 16:05:00.0       0      0
1             NaN NaN  NaN  20230329  2023-03-29 16:44:00.0       0      0
2      20230331.0 NaN  NaN  20230329  2023-03-29 16:04:00.0       0      0
3      20230331.0 NaN  NaN  20230329  2023-03-29 16:34:00.0       0      0
4      20230331.0 NaN  NaN  20230329  2023-03-29 12:12:00.0       0      0
...           ...  ..  ...       ...                    ...     ...    ...
25937  20221231.0 NaN  NaN  20230103  2023-01-03 17:29:00.0       0      0
25938  20221231.0 NaN  NaN  20230103  2023-01-03 16:03:00.0       0      0
25939  20221231.0 NaN  NaN  20230103  2023-01-03 17:02:00.0       1      0
25940  20221231.0 NaN  NaN  20230103  2023-01-03 17:23:00.0       0      0
25941  20221231.0 NaN  NaN  20230103  2023-01-03 16:42:00.0       0      0

                    instance nciks    aciks
0      uhal-20230323_htm.xml     1      NaN
1       aig-20230329_htm.xml     1      NaN
2       mmc-20230329_htm.xml     1      NaN
3       mcd-20230327_htm.xml     1      NaN
4       etr-20230329_htm.xml     2  1348952
...                      ...   ...      ...
25937  orgn-20230103_htm.xml     1      NaN
25938  apph-20221229_htm.xml     1      NaN
25939  bhil-20221229_htm.xml     1      NaN
25940  brds-20221229_htm.xml     1      NaN
25941  rivn-20230103_htm.xml     1      NaN

[25942 rows x 37 columns]>

In [18]:
df_tag.head

<bound method NDFrame.head of              0                                              tag  \
0            1            AccountingStandardsUpdate201613Member
1            2            AccountingStandardsUpdate201409Member
2            3                                   StatementTable
3            4                             SecurityExchangeName
4            5                                 LocalPhoneNumber
...        ...                                              ...
136543  136544                               RentalIncomeMember
136544  136545  StockIssuedDuringPeriodSharesStockBasedPayments
136545  136546          StockIssuedDuringPeriodValueAcquisition
136546  136547      StockIssuedDuringPeriodValueAcquisitionsOne
136547  136548   StockIssuedDuringPeriodValueStockBasedPayments

                     version  custom  abstract           datatype iord crdr  \
0               us-gaap/2021       0         1             member  NaN  NaN
1               us-gaap/2021       0         1             member  NaN  NaN
2               us-gaap/2021       0         1                NaN  NaN  NaN
3                   dei/2021       0         0  edgarExchangeCode    D  NaN
4                   dei/2021       0         0   normalizedString    D  NaN
...                      ...     ...       ...                ...  ...  ...
136543  0001493152-23-010334       1         0             member    D  NaN
136544  0001493152-23-010334       1         0             shares    D  NaN
136545  0001493152-23-010334       1         0           monetary    D    C
136546  0001493152-23-010334       1         0           monetary    D    C
136547  0001493152-23-010334       1         0           monetary    D    C

                                              tlabel  \
0       Accounting Standards Update 2016-13 [Member]
1       Accounting Standards Update 2014-09 [Member]
2                                  Statement [Table]
3                             Security Exchange Name
4                                 Local Phone Number
...                                              ...
136543                        Rental Income [Member]
136544                  Stock based payments, shares
136545   Acquisition of Sentinel Brokers Company Inc
136546   StockIssuedDuringPeriodValueAcquisitionsOne
136547                          Stock based payments

                                                      doc
0       Accounting Standards Update 2016-13 Financial ...
1       Accounting Standards Update 2014-09 Revenue fr...
2       Schedule reflecting a Statement of Income, Sta...
3       Name of the Exchange on which a security is re...
4                          Local phone number for entity.
...                                                   ...
136543                             Rental Income [Member]
136544                                                NaN
136545      Stock issued during period value acquisition.
136546  Stock issued during period value acquisitions ...
136547                                                NaN

[136548 rows x 10 columns]>

In [35]:
df_cik_name = df_sub[['cik','name','instance','adsh']]

In [31]:
df_cik_name['instance']

0           uhal-20230323_htm.xml
1            aig-20230329_htm.xml
2            mmc-20230329_htm.xml
3            mcd-20230327_htm.xml
4            etr-20230329_htm.xml
                    ...
25938       apph-20221229_htm.xml
25939       bhil-20221229_htm.xml
25940       brds-20221229_htm.xml
25941       rivn-20230103_htm.xml
instance                      NaN
Name: instance, Length: 25943, dtype: object

In [30]:
df_cik_name.loc['instance'] = df_cik_name.loc['instance'].str.rstrip("-")

In [32]:
#todo : dor strip and get ticker

In [49]:
for i in df['tag'].unique():
    print(i)

print(len(df['tag'].unique()))

KeyError: 'stmt'

In [51]:
for i in df_pre['stmt'].unique():
    print(i)
print(len(df_pre['stmt'].unique()))


"""
BS = Balance Sheet, 
IS = Income Statement,
CF = Cash Flow, 
EQ = Equity, 
CI = Comprehensive Income, 
UN = Unclassifiable Statement, 
CP = Cover Page
"""

# Interest : CI,BS,CF,EQ

BS
UN
EQ
CF
CP
IS
CI
SI
8

'\nBS = Balance Sheet, \nIS = Income Statement,\nCF = Cash Flow, \nEQ = Equity, \nCI = Comprehensive Income, \nUN = Unclassifiable Statement, \nCP = Cover Page\n'