In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("data/fundamentals.csv")
price = pd.read_csv("data/prices-split-adjusted.csv")
sec = pd.read_csv("data/securities.csv")

In [ ]:
df

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,1776,ZION,2015-12-31,0.000000e+00,0.0,-2.530000e+06,4.0,-1.573610e+08,0.000000e+00,NaN,...,0.000000e+00,0.000000e+00,7.507519e+09,5.216201e+10,5.966952e+10,2.210591e+09,0.0,2015.0,1.20,2.578925e+08
1777,1777,ZTS,2013-12-31,1.381000e+09,-99000000.0,9.000000e+06,54.0,-1.840000e+08,8.780000e+08,43.0,...,3.357000e+09,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.0,2013.0,1.01,4.990099e+08
1778,1778,ZTS,2014-12-31,1.071000e+09,69000000.0,-7.000000e+06,44.0,-1.800000e+08,9.580000e+08,81.0,...,3.465000e+09,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.0,2014.0,1.16,5.025862e+08
1779,1779,ZTS,2015-12-31,1.313000e+09,-58000000.0,-8.100000e+07,32.0,-2.240000e+08,1.012000e+09,65.0,...,3.830000e+09,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-203000000.0,2015.0,0.68,4.985294e+08
1780,1780,ZTS,2016-12-31,1.076000e+09,15000000.0,2.000000e+06,55.0,-2.160000e+08,1.024000e+09,65.0,...,3.390000e+09,1.117000e+09,1.487000e+09,6.162000e+09,7.649000e+09,4.888000e+09,-421000000.0,NaN,NaN,NaN

In [6]:
df.columns

Index(['Unnamed: 0', 'Ticker Symbol', 'Period Ending', 'Accounts Payable',
       'Accounts Receivable', 'Add'l income/expense items', 'After Tax ROE',
       'Capital Expenditures', 'Capital Surplus', 'Cash Ratio',
       'Cash and Cash Equivalents', 'Changes in Inventories', 'Common Stocks',
       'Cost of Revenue', 'Current Ratio', 'Deferred Asset Charges',
       'Deferred Liability Charges', 'Depreciation',
       'Earnings Before Interest and Tax', 'Earnings Before Tax',
       'Effect of Exchange Rate',
       'Equity Earnings/Loss Unconsolidated Subsidiary', 'Fixed Assets',
       'Goodwill', 'Gross Margin', 'Gross Profit', 'Income Tax',
       'Intangible Assets', 'Interest Expense', 'Inventory', 'Investments',
       'Liabilities', 'Long-Term Debt', 'Long-Term Investments',
       'Minority Interest', 'Misc. Stocks', 'Net Borrowings', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing',
       'Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
       'Operating Income', 'Operating Margin', 'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Profit Margin', 'Quick Ratio', 'Research and Development',
       'Retained Earnings', 'Sale and Purchase of Stock',
       'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'For Year', 'Earnings Per Share', 'Estimated Shares Outstanding'],
      dtype='object')

In [ ]:
price

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

In [ ]:
price = price.drop(columns={"open","low","high","volume"}, axis=1)

In [ ]:
price

              date symbol       close
0       2016-01-05   WLTW  125.839996
1       2016-01-06   WLTW  119.980003
2       2016-01-07   WLTW  114.949997
3       2016-01-08   WLTW  116.620003
4       2016-01-11   WLTW  114.970001
...            ...    ...         ...
851259  2016-12-30    ZBH  103.199997
851260  2016-12-30   ZION   43.040001
851261  2016-12-30    ZTS   53.529999
851262  2016-12-30    AIV   45.450001
851263  2016-12-30    FTV   53.630001

[851264 rows x 3 columns]

In [ ]:
price = price.rename(columns={"symbol":"ticker"})
df = df.rename(columns={"Ticker Symbol":"ticker"})

In [ ]:
sec

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877
...,...,...,...,...,...,...,...,...
500,YHOO,Yahoo Inc.,reports,Information Technology,Internet Software & Services,"Sunnyvale, California",NaN,1011006
501,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061
502,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",NaN,1136869
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",NaN,109380
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280

In [ ]:
sec = sec.rename(columns={"Ticker symbol":"ticker"})
sec = sec.drop(columns={"SEC filings", "Address of Headquarters", "CIK"})

In [ ]:
sec

,ticker,Security,GICS Sector,GICS Sub Industry,Date first added
0,MMM,3M Company,Industrials,Industrial Conglomerates,NaN
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,1964-03-31
2,ABBV,AbbVie,Health Care,Pharmaceuticals,2012-12-31
3,ACN,Accenture plc,Information Technology,IT Consulting & Other Services,2011-07-06
4,ATVI,Activision Blizzard,Information Technology,Home Entertainment Software,2015-08-31
...,...,...,...,...,...
500,YHOO,Yahoo Inc.,Information Technology,Internet Software & Services,NaN
501,YUM,Yum! Brands Inc,Consumer Discretionary,Restaurants,1997-10-06
502,ZBH,Zimmer Biomet Holdings,Health Care,Health Care Equipment,NaN
503,ZION,Zions Bancorp,Financials,Regional Banks,NaN
504,ZTS,Zoetis,Health Care,Pharmaceuticals,2013-06-21

In [ ]:
df = pd.merge(left = df, right = sec, on="ticker")

In [ ]:
df.columns

Index(['Unnamed: 0', 'ticker', 'Period Ending', 'Accounts Payable',
       'Accounts Receivable', 'Add'l income/expense items', 'After Tax ROE',
       'Capital Expenditures', 'Capital Surplus', 'Cash Ratio',
       'Cash and Cash Equivalents', 'Changes in Inventories', 'Common Stocks',
       'Cost of Revenue', 'Current Ratio', 'Deferred Asset Charges',
       'Deferred Liability Charges', 'Depreciation',
       'Earnings Before Interest and Tax', 'Earnings Before Tax',
       'Effect of Exchange Rate',
       'Equity Earnings/Loss Unconsolidated Subsidiary', 'Fixed Assets',
       'Goodwill', 'Gross Margin', 'Gross Profit', 'Income Tax',
       'Intangible Assets', 'Interest Expense', 'Inventory', 'Investments',
       'Liabilities', 'Long-Term Debt', 'Long-Term Investments',
       'Minority Interest', 'Misc. Stocks', 'Net Borrowings', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing',
       'Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
       'Operating Income', 'Operating Margin', 'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Profit Margin', 'Quick Ratio', 'Research and Development',
       'Retained Earnings', 'Sale and Purchase of Stock',
       'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'For Year', 'Earnings Per Share', 'Estimated Shares Outstanding',
       'Security', 'GICS Sector', 'GICS Sub Industry', 'Date first added'],
      dtype='object')

In [ ]:
column_list = df.columns
column_list.shape

(83,)

In [ ]:
column_list[0:20]

Index(['Unnamed: 0', 'ticker', 'Period Ending', 'Accounts Payable',
       'Accounts Receivable', 'Add'l income/expense items', 'After Tax ROE',
       'Capital Expenditures', 'Capital Surplus', 'Cash Ratio',
       'Cash and Cash Equivalents', 'Changes in Inventories', 'Common Stocks',
       'Cost of Revenue', 'Current Ratio', 'Deferred Asset Charges',
       'Deferred Liability Charges', 'Depreciation',
       'Earnings Before Interest and Tax', 'Earnings Before Tax'],
      dtype='object')

In [ ]:
column_list[20:40]

Index(['Effect of Exchange Rate',
       'Equity Earnings/Loss Unconsolidated Subsidiary', 'Fixed Assets',
       'Goodwill', 'Gross Margin', 'Gross Profit', 'Income Tax',
       'Intangible Assets', 'Interest Expense', 'Inventory', 'Investments',
       'Liabilities', 'Long-Term Debt', 'Long-Term Investments',
       'Minority Interest', 'Misc. Stocks', 'Net Borrowings', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing'],
      dtype='object')

In [ ]:
column_list[40:60]

Index(['Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
       'Operating Income', 'Operating Margin', 'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items', 'Pre-Tax Margin', 'Pre-Tax ROE'],
      dtype='object')

In [ ]:
column_list[60:]

Index(['Profit Margin', 'Quick Ratio', 'Research and Development',
       'Retained Earnings', 'Sale and Purchase of Stock',
       'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'For Year', 'Earnings Per Share', 'Estimated Shares Outstanding',
       'Security', 'GICS Sector', 'GICS Sub Industry', 'Date first added'],
      dtype='object')

In [ ]:
l = ['Unnamed: 0', 'Period Ending', 'Accounts Payable','Changes in Inventories','Effect of Exchange Rate',
       'Accounts Receivable', 'After Tax ROE',
       'Capital Expenditures', 'Capital Surplus', 'Cash Ratio',
       'Cash and Cash Equivalents','Common Stocks','Current Ratio', 'Depreciation',
       'Earnings Before Interest and Tax',
       'Goodwill', 'Gross Profit',
       'Intangible Assets', 'Interest Expense', 'Inventory', 'Investments',
       'Liabilities', 'Long-Term Debt', 'Long-Term Investments',
       'Minority Interest', 'Misc. Stocks', 'Net Borrowings',
       'Net Income Applicable to Common Shareholders',
       'Net Income-Cont. Operations', 'Net Receivables', 'Non-Recurring Items',
         'Other Assets',
       'Other Current Assets', 'Other Current Liabilities', 'Other Equity',
       'Other Financing Activities', 'Other Investing Activities',
       'Other Liabilities', 'Other Operating Activities',
       'Other Operating Items','Profit Margin', 'Quick Ratio', 'Research and Development',
       'Sale and Purchase of Stock',
       'Sales, General and Admin.',
       'Short-Term Debt / Current Portion of Long-Term Debt',
       'Short-Term Investments', 'Total Assets', 'Total Current Assets',
       'Total Current Liabilities', 'Total Equity', 'Total Liabilities',
       'Total Liabilities & Equity', 'Total Revenue', 'Treasury Stock',
       'For Year', 'Earnings Per Share', 'Estimated Shares Outstanding',
       'Security', 'GICS Sector', 'GICS Sub Industry', 'Date first added']

In [ ]:
for i in l:
    df = df.drop(columns=i)
df

,ticker,Add'l income/expense items,Cost of Revenue,Deferred Asset Charges,Deferred Liability Charges,Earnings Before Tax,Equity Earnings/Loss Unconsolidated Subsidiary,Fixed Assets,Gross Margin,Income Tax,...,Net Cash Flow-Operating,Net Cash Flows-Financing,Net Cash Flows-Investing,Net Income,Net Income Adjustments,Operating Income,Operating Margin,Pre-Tax Margin,Pre-Tax ROE,Retained Earnings
0,AAL,-1.961000e+09,1.049900e+10,0.000000e+00,223000000.0,-2.445000e+09,0.0,1.340200e+10,58.0,-5.690000e+08,...,1.285000e+09,4.830000e+08,-1.571000e+09,-1.876000e+09,2.050000e+09,1.480000e+08,1.0,10.0,31.0,-9.462000e+09
1,AAL,-2.723000e+09,1.101900e+10,0.000000e+00,935000000.0,-2.180000e+09,0.0,1.925900e+10,59.0,-3.460000e+08,...,6.750000e+08,3.799000e+09,-3.814000e+09,-1.834000e+09,1.873000e+09,1.399000e+09,5.0,8.0,80.0,-1.129600e+10
2,AAL,-1.500000e+08,1.562000e+10,0.000000e+00,829000000.0,3.212000e+09,0.0,2.308400e+10,63.0,3.300000e+08,...,3.080000e+09,-3.150000e+08,-2.911000e+09,2.882000e+09,5.420000e+08,4.249000e+09,10.0,8.0,159.0,-8.562000e+09
3,AAL,-7.080000e+08,1.109600e+10,2.477000e+09,667000000.0,4.616000e+09,0.0,2.751000e+10,73.0,-2.994000e+09,...,6.249000e+09,-1.259000e+09,-5.594000e+09,7.610000e+09,-2.662000e+09,6.204000e+09,15.0,11.0,82.0,-1.230000e+09
4,AAP,6.000000e+05,3.106967e+09,0.000000e+00,0.0,6.240740e+08,0.0,1.292547e+09,50.0,2.364040e+08,...,6.852810e+08,1.279070e+08,-2.729780e+08,3.876700e+08,2.331100e+07,6.573150e+08,11.0,10.0,52.0,7.149000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,ZION,-2.530000e+06,4.934400e+07,0.000000e+00,0.0,4.518590e+08,0.0,9.125540e+08,0.0,1.423880e+08,...,5.351690e+08,2.071926e+09,-2.650718e+09,3.094710e+08,1.395310e+08,0.000000e+00,0.0,20.0,6.0,1.966910e+09
1777,ZTS,9.000000e+06,1.669000e+09,6.300000e+07,322000000.0,6.900000e+08,0.0,1.295000e+09,63.0,1.870000e+08,...,6.810000e+08,-2.000000e+08,-1.790000e+08,5.040000e+08,9.400000e+07,7.940000e+08,17.0,15.0,73.0,2.760000e+08
1778,ZTS,-7.000000e+06,1.717000e+09,5.400000e+07,277000000.0,8.200000e+08,0.0,1.318000e+09,64.0,2.330000e+08,...,6.260000e+08,-1.540000e+08,-1.870000e+08,5.830000e+08,8.400000e+07,9.440000e+08,20.0,17.0,63.0,7.090000e+08
1779,ZTS,-8.100000e+07,1.738000e+09,8.200000e+07,264000000.0,5.450000e+08,0.0,1.307000e+09,64.0,2.060000e+08,...,6.640000e+08,7.550000e+08,-1.115000e+09,3.390000e+08,3.340000e+08,7.500000e+08,16.0,11.0,51.0,8.760000e+08
1780,ZTS,2.000000e+06,1.666000e+09,9.600000e+07,244000000.0,1.228000e+09,0.0,1.381000e+09,66.0,4.090000e+08,...,7.130000e+08,-9.030000e+08,-2.140000e+08,8.210000e+08,9.300000e+07,1.392000e+09,28.0,25.0,83.0,1.477000e+09

In [ ]:
df.head

<bound method NDFrame.head of      ticker  Add'l income/expense items  Cost of Revenue  \
0       AAL               -1.961000e+09     1.049900e+10
1       AAL               -2.723000e+09     1.101900e+10
2       AAL               -1.500000e+08     1.562000e+10
3       AAL               -7.080000e+08     1.109600e+10
4       AAP                6.000000e+05     3.106967e+09
...     ...                         ...              ...
1776   ZION               -2.530000e+06     4.934400e+07
1777    ZTS                9.000000e+06     1.669000e+09
1778    ZTS               -7.000000e+06     1.717000e+09
1779    ZTS               -8.100000e+07     1.738000e+09
1780    ZTS                2.000000e+06     1.666000e+09

      Deferred Asset Charges  Deferred Liability Charges  Earnings Before Tax  \
0               0.000000e+00                 223000000.0        -2.445000e+09
1               0.000000e+00                 935000000.0        -2.180000e+09
2               0.000000e+00                 829000000.0         3.212000e+09
3               2.477000e+09                 667000000.0         4.616000e+09
4               0.000000e+00                         0.0         6.240740e+08
...                      ...                         ...                  ...
1776            0.000000e+00                         0.0         4.518590e+08
1777            6.300000e+07                 322000000.0         6.900000e+08
1778            5.400000e+07                 277000000.0         8.200000e+08
1779            8.200000e+07                 264000000.0         5.450000e+08
1780            9.600000e+07                 244000000.0         1.228000e+09

      Equity Earnings/Loss Unconsolidated Subsidiary  Fixed Assets  \
0                                                0.0  1.340200e+10
1                                                0.0  1.925900e+10
2                                                0.0  2.308400e+10
3                                                0.0  2.751000e+10
4                                                0.0  1.292547e+09
...                                              ...           ...
1776                                             0.0  9.125540e+08
1777                                             0.0  1.295000e+09
1778                                             0.0  1.318000e+09
1779                                             0.0  1.307000e+09
1780                                             0.0  1.381000e+09

      Gross Margin    Income Tax  ...  Net Cash Flow-Operating  \
0             58.0 -5.690000e+08  ...             1.285000e+09
1             59.0 -3.460000e+08  ...             6.750000e+08
2             63.0  3.300000e+08  ...             3.080000e+09
3             73.0 -2.994000e+09  ...             6.249000e+09
4             50.0  2.364040e+08  ...             6.852810e+08
...            ...           ...  ...                      ...
1776           0.0  1.423880e+08  ...             5.351690e+08
1777          63.0  1.870000e+08  ...             6.810000e+08
1778          64.0  2.330000e+08  ...             6.260000e+08
1779          64.0  2.060000e+08  ...             6.640000e+08
1780          66.0  4.090000e+08  ...             7.130000e+08

      Net Cash Flows-Financing  Net Cash Flows-Investing    Net Income  \
0                 4.830000e+08             -1.571000e+09 -1.876000e+09
1                 3.799000e+09             -3.814000e+09 -1.834000e+09
2                -3.150000e+08             -2.911000e+09  2.882000e+09
3                -1.259000e+09             -5.594000e+09  7.610000e+09
4                 1.279070e+08             -2.729780e+08  3.876700e+08
...                        ...                       ...           ...
1776              2.071926e+09             -2.650718e+09  3.094710e+08
1777             -2.000000e+08             -1.790000e+08  5.040000e+08
1778             -1.540000e+08             -1.870000e+08  5.830000e+08
1779              7.550000e+08             -1.115000e+09  3.390000e+08
1780             -9.030000e+08             -2.140000e+08  8.210000e+08

      Net Income Adjustments  Operating Income  Operating Margin  \
0               2.050000e+09      1.480000e+08               1.0
1               1.873000e+09      1.399000e+09               5.0
2               5.420000e+08      4.249000e+09              10.0
3              -2.662000e+09      6.204000e+09              15.0
4               2.331100e+07      6.573150e+08              11.0
...                      ...               ...               ...
1776            1.395310e+08      0.000000e+00               0.0
1777            9.400000e+07      7.940000e+08              17.0
1778            8.400000e+07      9.440000e+08              20.0
1779            3.340000e+08      7.500000e+08              16.0
1780            9.300000e+07      1.392000e+09              28.0

      Pre-Tax Margin  Pre-Tax ROE  Retained Earnings
0               10.0         31.0      -9.462000e+09
1                8.0         80.0      -1.129600e+10
2                8.0        159.0      -8.562000e+09
3               11.0         82.0      -1.230000e+09
4               10.0         52.0       7.149000e+08
...              ...          ...                ...
1776            20.0          6.0       1.966910e+09
1777            15.0         73.0       2.760000e+08
1778            17.0         63.0       7.090000e+08
1779            11.0         51.0       8.760000e+08
1780            25.0         83.0       1.477000e+09

[1781 rows x 21 columns]>

In [ ]:
df['returns'] = 0
df['returns']

0       0
1       0
2       0
3       0
4       0
       ..
1776    0
1777    0
1778    0
1779    0
1780    0
Name: returns, Length: 1781, dtype: int64

In [ ]:
print(df.groupby(['ticker']))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024609B6C910>

In [ ]:
price

              date ticker       close
0       2016-01-05   WLTW  125.839996
1       2016-01-06   WLTW  119.980003
2       2016-01-07   WLTW  114.949997
3       2016-01-08   WLTW  116.620003
4       2016-01-11   WLTW  114.970001
...            ...    ...         ...
851259  2016-12-30    ZBH  103.199997
851260  2016-12-30   ZION   43.040001
851261  2016-12-30    ZTS   53.529999
851262  2016-12-30    AIV   45.450001
851263  2016-12-30    FTV   53.630001

[851264 rows x 3 columns]

In [ ]:
temp_price = price.groupby('ticker')    
tickers = temp_price.groups

In [ ]:
tickers.keys()

dict_keys(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADS', 'ADSK', 'AEE', 'AEP', 'AES', 'AET', 'AFL', 'AGN', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALK', 'ALL', 'ALLE', 'ALXN', 'AMAT', 'AME', 'AMG', 'AMGN', 'AMP', 'AMT', 'AMZN', 'AN', 'ANTM', 'AON', 'APA', 'APC', 'APD', 'APH', 'ARNC', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AYI', 'AZO', 'BA', 'BAC', 'BAX', 'BBBY', 'BBT', 'BBY', 'BCR', 'BDX', 'BEN', 'BHI', 'BIIB', 'BK', 'BLK', 'BLL', 'BMY', 'BSX', 'BWA', 'BXP', 'C', 'CA', 'CAG', 'CAH', 'CAT', 'CB', 'CBG', 'CBS', 'CCI', 'CCL', 'CELG', 'CERN', 'CF', 'CFG', 'CHD', 'CHK', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COG', 'COH', 'COL', 'COO', 'COP', 'COST', 'COTY', 'CPB', 'CRM', 'CSCO', 'CSRA', 'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CVS', 'CVX', 'CXO', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DISCA', 'DISCK', 'DLPH', 'DLR', 'DLTR', 'DNB', 'DOV', 'DOW', 'DPS', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'ENDP', 'EOG', 'EQIX', 'EQR', 'EQT', 'ES', 'ESRX', 'ESS', 'ETFC', 'ETN', 'ETR', 'EVHC', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FAST', 'FB', 'FBHS', 'FCX', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FITB', 'FL', 'FLIR', 'FLR', 'FLS', 'FMC', 'FOX', 'FOXA', 'FRT', 'FSLR', 'FTI', 'FTR', 'FTV', 'GD', 'GE', 'GGP', 'GILD', 'GIS', 'GLW', 'GM', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GPS', 'GRMN', 'GS', 'GT', 'GWW', 'HAL', 'HAR', 'HAS', 'HBAN', 'HBI', 'HCA', 'HCN', 'HCP', 'HD', 'HES', 'HIG', 'HOG', 'HOLX', 'HON', 'HP', 'HPE', 'HPQ', 'HRB', 'HRL', 'HRS', 'HSIC', 'HST', 'HSY', 'HUM', 'IBM', 'ICE', 'IDXX', 'IFF', 'ILMN', 'INTC', 'INTU', 'IP', 'IPG', 'IR', 'IRM', 'ISRG', 'ITW', 'IVZ', 'JBHT', 'JCI', 'JEC', 'JNJ', 'JNPR', 'JPM', 'JWN', 'K', 'KEY', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KORS', 'KR', 'KSS', 'KSU', 'L', 'LB', 'LEG', 'LEN', 'LH', 'LKQ', 'LLL', 'LLTC', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUK', 'LUV', 'LVLT', 'LYB', 'M', 'MA', 'MAA', 'MAC', 'MAR', 'MAS', 'MAT', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'MHK', 'MJN', 'MKC', 'MLM', 'MMC', 'MMM', 'MNK', 'MNST', 'MO', 'MON', 'MOS', 'MPC', 'MRK', 'MRO', 'MSFT', 'MSI', 'MTB', 'MTD', 'MU', 'MUR', 'MYL', 'NAVI', 'NBL', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NFX', 'NI', 'NKE', 'NLSN', 'NOC', 'NOV', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NWL', 'NWS', 'NWSA', 'O', 'OKE', 'OMC', 'ORCL', 'ORLY', 'OXY', 'PAYX', 'PBCT', 'PBI', 'PCAR', 'PCG', 'PCLN', 'PDCO', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'PPG', 'PPL', 'PRGO', 'PRU', 'PSA', 'PSX', 'PVH', 'PWR', 'PX', 'PXD', 'PYPL', 'QCOM', 'QRVO', 'R', 'RAI', 'RCL', 'REGN', 'RF', 'RHI', 'RHT', 'RIG', 'RL', 'ROK', 'ROP', 'ROST', 'RRC', 'RSG', 'RTN', 'SBUX', 'SCG', 'SCHW', 'SE', 'SEE', 'SHW', 'SIG', 'SJM', 'SLB', 'SLG', 'SNA', 'SNI', 'SO', 'SPG', 'SPGI', 'SPLS', 'SRCL', 'SRE', 'STI', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SWN', 'SYF', 'SYK', 'SYMC', 'SYY', 'T', 'TAP', 'TDC', 'TDG', 'TEL', 'TGNA', 'TGT', 'TIF', 'TJX', 'TMK', 'TMO', 'TRIP', 'TROW', 'TRV', 'TSCO', 'TSN', 'TSO', 'TSS', 'TWX', 'TXN', 'TXT', 'UAA', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URBN', 'URI', 'USB', 'UTX', 'V', 'VAR', 'VFC', 'VIAB', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VZ', 'WAT', 'WBA', 'WDC', 'WEC', 'WFC', 'WFM', 'WHR', 'WLTW', 'WM', 'WMB', 'WMT', 'WRK', 'WU', 'WY', 'WYN', 'WYNN', 'XEC', 'XEL', 'XL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YHOO', 'YUM', 'ZBH', 'ZION', 'ZTS'])

In [ ]:
returns = pd.DataFrame(columns=['ticker', 'returns'])

for i in tickers.keys():
    start = temp_price.get_group(i).iloc[[0]]
    end = temp_price.get_group(i).iloc[[-1]]
    start = start['close'].values
    end = end['close'].values
    r = float((start-end)*100/start)
    new_row = pd.DataFrame({'ticker':[i], 'returns':[r]})
    returns = pd.concat([new_row,returns.loc[:]])

In [ ]:
temp = df.drop(columns='ticker')
temp.dtypes

Add'l income/expense items                        float64
Cost of Revenue                                   float64
Deferred Asset Charges                            float64
Deferred Liability Charges                        float64
Earnings Before Tax                               float64
Equity Earnings/Loss Unconsolidated Subsidiary    float64
Fixed Assets                                      float64
Gross Margin                                      float64
Income Tax                                        float64
Net Cash Flow                                     float64
Net Cash Flow-Operating                           float64
Net Cash Flows-Financing                          float64
Net Cash Flows-Investing                          float64
Net Income                                        float64
Net Income Adjustments                            float64
Operating Income                                  float64
Operating Margin                                  float64
Pre-Tax Margin                                    float64
Pre-Tax ROE                                       float64
Retained Earnings                                 float64
returns                                             int64
dtype: object

In [ ]:
temp_df = df.groupby('ticker')
t = temp_df.get_group('AAPL')

In [ ]:
df.columns

Index(['ticker', 'Add'l income/expense items', 'Cost of Revenue',
       'Deferred Asset Charges', 'Deferred Liability Charges',
       'Earnings Before Tax', 'Equity Earnings/Loss Unconsolidated Subsidiary',
       'Fixed Assets', 'Gross Margin', 'Income Tax', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing',
       'Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Operating Income', 'Operating Margin', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Retained Earnings', 'returns'],
      dtype='object')

t.iloc[1]

In [ ]:
type(pd.DataFrame(t.iloc[0]))
print(pd.DataFrame(t.iloc[0]))

                                                             8
ticker                                                    AAPL
Add'l income/expense items                        1156000000.0
Cost of Revenue                                 106606000000.0
Deferred Asset Charges                                     0.0
Deferred Liability Charges                        2625000000.0
Earnings Before Tax                              50155000000.0
Equity Earnings/Loss Unconsolidated Subsidiary             0.0
Fixed Assets                                     16597000000.0
Gross Margin                                              38.0
Income Tax                                       13118000000.0
Net Cash Flow                                     3513000000.0
Net Cash Flow-Operating                          53666000000.0
Net Cash Flows-Financing                        -16379000000.0
Net Cash Flows-Investing                        -33774000000.0
Net Income                                       37037000000.0
Net Income Adjustments                            3394000000.0
Operating Income                                 48999000000.0
Operating Margin                                          29.0
Pre-Tax Margin                                            29.0
Pre-Tax ROE                                               41.0
Retained Earnings                               104256000000.0
returns                                                      0

In [ ]:
new_df=[]
new_df = pd.DataFrame(columns=df.columns)

for i in tickers:
    try:
        t = temp_df.get_group(i)
        new_row = pd.DataFrame(t.iloc[0]).T
        new_df = pd.concat([new_df, new_row], ignore_index=True)
    except:
        print(i)


new_df

A
ACN
ADP
AES
AET
AGN
BEN
BLK
CA
CBS
CMCSA
COH
COP
DOW
DTE
ENDP
ESRX
EVHC
FITB
FOX
FOXA
FTI
FTV
GE
GOOG
GOOGL
GS
ICE
IR
JCI
JNJ
KHC
L
LNC
MDT
MNK
MSI
NI
NOC
NRG
ORCL
PLD
PRGO
PSA
PXD
RAI
RF
RIG
RTN
SLB
TROW
TWX
URI
WBA

,ticker,Add'l income/expense items,Cost of Revenue,Deferred Asset Charges,Deferred Liability Charges,Earnings Before Tax,Equity Earnings/Loss Unconsolidated Subsidiary,Fixed Assets,Gross Margin,Income Tax,...,Net Cash Flows-Financing,Net Cash Flows-Investing,Net Income,Net Income Adjustments,Operating Income,Operating Margin,Pre-Tax Margin,Pre-Tax ROE,Retained Earnings,returns
0,AAL,-1961000000.0,10499000000.0,0.0,223000000.0,-2445000000.0,0.0,13402000000.0,58.0,-569000000.0,...,483000000.0,-1571000000.0,-1876000000.0,2050000000.0,148000000.0,1.0,10.0,31.0,-9462000000.0,0
1,AAP,600000.0,3106967000.0,0.0,0.0,624074000.0,0.0,1292547000.0,50.0,236404000.0,...,127907000.0,-272978000.0,387670000.0,23311000.0,657315000.0,11.0,10.0,52.0,714900000.0,0
2,AAPL,1156000000.0,106606000000.0,0.0,2625000000.0,50155000000.0,0.0,16597000000.0,38.0,13118000000.0,...,-16379000000.0,-33774000000.0,37037000000.0,3394000000.0,48999000000.0,29.0,29.0,41.0,104256000000.0,0
3,ABBV,-8000000.0,4508000000.0,0.0,0.0,5725000000.0,0.0,2247000000.0,75.0,450000000.0,...,1931000000.0,-2418000000.0,5275000000.0,541000000.0,5817000000.0,32.0,31.0,1636.0,0.0,0
4,ABC,-44000.0,85451348000.0,0.0,0.0,824458000.0,0.0,803561000.0,3.0,331023000.0,...,-740987000.0,117260000.0,433707000.0,235476000.0,898399000.0,1.0,1.0,36.0,1508414000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,YHOO,4647839000.0,1620566000.0,0.0,1082831000.0,5214207000.0,676438000.0,1685845000.0,68.0,1940043000.0,...,-1979457000.0,3362044000.0,3945479000.0,-5733724000.0,566368000.0,11.0,105.0,36.0,5792459000.0,0
443,YUM,0.0,9852000000.0,467000000.0,0.0,2145000000.0,0.0,4250000000.0,28.0,537000000.0,...,-1716000000.0,-1005000000.0,1597000000.0,-141000000.0,2294000000.0,17.0,16.0,100.0,2286000000.0,0
444,ZBH,15600000.0,1125200000.0,0.0,0.0,990100000.0,0.0,1210700000.0,75.0,237200000.0,...,-436500000.0,-592100000.0,755000000.0,99300000.0,1047400000.0,23.0,22.0,17.0,7085900000.0,0
445,ZION,0.0,80146000.0,0.0,0.0,541566000.0,0.0,807033000.0,0.0,193416000.0,...,1760904000.0,-1879542000.0,349516000.0,103502000.0,0.0,0.0,22.0,9.0,1203815000.0,0
446,ZTS,9000000.0,1669000000.0,63000000.0,322000000.0,690000000.0,0.0,1295000000.0,63.0,187000000.0,...,-200000000.0,-179000000.0,504000000.0,94000000.0,794000000.0,17.0,15.0,73.0,276000000.0,0

In [ ]:
new_df = new_df.drop(columns='returns')

In [ ]:
new_df = new_df.merge(returns, on='ticker')

In [ ]:
new_df.columns

Index(['ticker', 'Add'l income/expense items', 'Cost of Revenue',
       'Deferred Asset Charges', 'Deferred Liability Charges',
       'Earnings Before Tax', 'Equity Earnings/Loss Unconsolidated Subsidiary',
       'Fixed Assets', 'Gross Margin', 'Income Tax', 'Net Cash Flow',
       'Net Cash Flow-Operating', 'Net Cash Flows-Financing',
       'Net Cash Flows-Investing', 'Net Income', 'Net Income Adjustments',
       'Operating Income', 'Operating Margin', 'Pre-Tax Margin', 'Pre-Tax ROE',
       'Retained Earnings', 'returns'],
      dtype='object')

In [ ]:
cors = new_df.drop(columns='ticker').corr(numeric_only=False).filter(['returns']).drop(['returns'])

In [ ]:

cors = cors.reset_index()

In [ ]:
from prettytable import PrettyTable
t = PrettyTable(['Fundamental', 'Correlation %'])



for i, j  in cors.iterrows():
    r = j[1]*100
    if r >= 5 or r<=-5:
        pass #if needed
    t.add_row([j[0],round(r,4)])
print(t)

+------------------------------------------------+---------------+
|                  Fundamental                   | Correlation % |
+------------------------------------------------+---------------+
|           Add'l income/expense items           |     8.1754    |
|                Cost of Revenue                 |     5.7341    |
|             Deferred Asset Charges             |     6.9609    |
|           Deferred Liability Charges           |    13.4445    |
|              Earnings Before Tax               |     8.1812    |
| Equity Earnings/Loss Unconsolidated Subsidiary |     6.0313    |
|                  Fixed Assets                  |    15.9773    |
|                  Gross Margin                  |     0.4923    |
|                   Income Tax                   |     7.4173    |
|                 Net Cash Flow                  |    -0.3509    |
|            Net Cash Flow-Operating             |     9.8922    |
|            Net Cash Flows-Financing            |     1.0458    |
|            Net Cash Flows-Investing            |    -7.1724    |
|                   Net Income                   |     8.045     |
|             Net Income Adjustments             |     1.4525    |
|                Operating Income                |     7.5711    |
|                Operating Margin                |     3.4992    |
|                 Pre-Tax Margin                 |      2.27     |
|                  Pre-Tax ROE                   |     2.0922    |
|               Retained Earnings                |    10.1126    |
+------------------------------------------------+---------------+